@media screen and (max-width: 1100px) {
  .dropdowns,
  .nav__right > input,
  .search,
  .nav__right > a,
  .banner-btns,
  .list,
  .footer > hr,
  .bottom-left,
  .rp-footer-detail,
  .bottom-right,
  .no-display {
    display: none;
  }

  .body {
    box-sizing: border-box;
  }

  .nav {
    height: 30px;
    padding: 13px 0;
  }

  .nav__logo {
    margin: 0 auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-left: 20px;
    cursor: pointer;
  }

  .nav__right {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }

  .login,
  .register {
    font-size: 14px;
    border: none;
  }

  .slide > img {
    margin-top: 55px;
  }

  .header-input > input {
    width: 100%;
  }

  .search-icon {
    right: 10%;
  }

  .contents {
    margin: 0 15px;
  }

  .row-first > a,
  .row-second > a,
  .row-third > a,
  .row-fourth > a {
    font-size: 22px;
  }

  .rp-margin {
    margin-right: 0;
  }

  .card {
    width: auto;
  }

  .card > h4 {
    font-size: 14px;
  }

  .card > h5 {
    font-size: 12px;
    font-weight: 600;
  }

  .card > p {
    font-size: 16px;
  }

  .card > p > del {
    font-size: 14px;
  }

  .tags > span {
    font-size: 12px;
  }

  .card:hover .card-meta,
  .card:hover .fourth-meta {
    display: none;
  }

  .card-second > a > h4 {
    padding: 20px 20px 0 20px;
  }

  .card-third > a > img {
    height: 150px;
  }

  .row-fifth {
    flex-direction: column;
  }

  .row-left > h1 {
    font-size: 28px;
  }

  .row-left > p {
    margin-top: 10px;
  }

  .row-left > button {
    padding: 8px 20px;
  }

  .row-right {
    margin-top: 40px;
  }

  .review {
    margin-left: 40px;
    margin-right: 40px;
  }

  .bottom-slide > img {
    height: 70%;
  }

  .banner-info {
    top: 15px;
    left: 15px;
  }

  .banner-info > b,
  .banner-info > p {
    font-size: 18px;
  }

  .slide-btns {
    display: none;
  }

  .dots {
    left: 16%;
    bottom: 30%;
  }

  .row-sixth {
    padding: 50px 20px;
  }

  .sixth-card {
    padding: 50px 20px;
  }

  .sixth-card > p {
    margin-bottom: 30px;
  }

  footer {
    padding: 10px 20px 50px 20px;
  }

  .top-col {
    display: none;
  }

  .rp-footer-top {
    display: block;
    width: 100%;
  }

  .row {
    padding: 20px 0;
    border-bottom: 2px solid #3f4143;
  }

  .title {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }

  .title > span {
    position: absolute;
    right: 4%;
  }

  .rp-footer-bottom {
    padding-top: 20px;
    padding-bottom: 50px;
    display: block;
    margin: auto;
    color: darkgray;
    text-align: center;
  }

  .rp-footer-bottom > p {
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .rp-footer-info > button {
    background: none;
    border: none;
    color: darkgray;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .rp-footer-info > button:focus {
    outline: none;
  }

  .rp-bottom-icons {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 10px 0;
  }

  .rp-icon > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: gray;
    cursor: pointer;
  }
}
